.home{
	&__image{
		width: calc(925px * 0.9);
		height: calc(938px * 0.9);
		background-image: url('../img/home.svg');
		background-repeat: no-repeat;
		background-size: contain;
		bottom: -100px;
		right: -170px;
	}
}

@media screen and (max-width: 1024px){
	.home{
		&__image{
			width: calc(925px * 0.85);
			height: calc(938px * 0.85);
			background-image: url('../img/home-mobile.svg');
			background-repeat: no-repeat;
			background-size: contain;
			bottom: -140px;
			right: -300px;
		}
	}
}