$color-primary: rgba(50, 44, 222, 1);
$color-primary-dark: rgba(2, 0, 64, 1);
$color-primary-light: rgba(73, 132, 255, 1);
$color-danger: rgba(222, 44, 44, 1);
$color-danger-dark: rgba(179, 18, 18, 1);
$color-text: rgba(2, 0, 64, 1);
$color-white: rgba(255, 255, 255, 1);
$color-gray: rgba(242, 242, 242, 1);
$color-black: rgba(42, 42, 42, 1);


$background-black: rgba(42, 42, 42, 0.7);


$box-shadow-z2: 0px 3px 6px rgba(20, 20, 20, 0.2); 
$box-shadow-z3: 0px 5px 10px rgba(20, 20, 20, 0.2); 


$font-primary: "Poppins", sans-serif;


$font-s-header: 5rem;
$font-s-title: 4rem;
$font-s-title-2: 3.2rem;
$font-s-title-3: 2.4rem;
$font-s-title-4: 2rem; 
$font-s-text: 1.8rem;
$font-s-text-small: 1.6rem;
$font-s-label: 1.4rem;
$font-s-detail: 1.2rem;


$font-tb-s-header: 4rem;

$font-mb-s-header: 3.2rem;
$font-mb-s-text: 2rem;